:root {
  --white: #ffffff;
  --black: #191414;
  --green: #1db954;
  --dark-green: #288c3c;
}

.statify-colors {
  background-color: var(--black);
  color: var(--white);
}

.green {
  color: var(--green);
}

.white {
  color: var(--white);
}
