body {
  /* font-family: 'Proxima Nova Rg', 'Helvetica Neue', 'Arial'; */
  font-family: "Arial";
}

.page-container {
  margin-top: 90px;
}

.clean-link {
  text-decoration: none;
  color: inherit;
}

.linkedin-icon {
  color: #0077b5;
}

.ig-icon {
  color: #cd486b;
}

.px-x5 {
  padding-left: 8rem;
  padding-right: 8rem;
}

@media screen and (max-width: 575px) {
  .px-xs-0 {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}