.homecard {
  color: white;
  border: 0;
  max-height: 300px;
  overflow: hidden;
}

.homecard-btns {
  min-width: 120px;
  max-width: 160px;
  width: 50%;
}

.card-title {
  font-size: 3em;
}

.homecard-img {
  object-fit: cover;
}

.homecard-body {
  height: 100% !important;
}

.homecard-login-text {
  text-align: center;
  font-size: 0.99rem;
}