.main-nav {
  background-color: #242424;
  height: 60px;
}

.nav-brand, .nav-brand:hover, .nav-brand:active {
  color: var(--green);
}

.nav-btn, .nav-btn:hover, .nav-btn:active {
  border: 0;
  color: white;
  background-color: rgba(0, 0, 0, 0) !important;
}

.nav-link, .nav-link:hover, .nav-link:active {
  color: white !important;
}

.nav-link.active {
  border-bottom: 2px solid var(--green);
  box-sizing: border-box !important;
}